@font-face
{
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}

body
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

span
{
    font-weight: bold;
}

#bloc_page
{
    width: auto;
}

li a
{
    color: black;
    text-decoration-line: none;
}

/*HEADER*/
header
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

#logo
{
    display: flex;
    width: 100px;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
}

#inscription
{
    display: flex;
    align-items: center;
}

#inscription a
{   
    padding-top: 20px;
    padding-right: 20px;
    margin-left: auto;
    color: #0065FC;
    font-weight: 1000;
    text-decoration-line: none;
}

#inscription :hover
{
    font-size: 105%;
}

#nav1
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
}

#nav2
{   
    display: flex;
    position: absolute; right: 100px
    
}

nav ul
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav li
{
    list-style-type: none;
    font-weight: bold;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 20px;
    
}

#nav2 li :hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 31px;
}

/*RECHERCHE*/
#recherche
{
    margin-left: 20px;
    margin-bottom: 20px;
}

#recherche>h1
{
    font-weight: 1000;
    font-size: 1.2em;
}

.bouton
{
    display: flex;
}
.map
{
    display: flex;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
    background-color: #F2F2F2;
    height: 35px;
    width: 30px;
    justify-content:center;
    align-self: center;
}

.city
{
    height: 30px;
    border: 2px #F2F2F2 solid;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

.search /*Est-il possible de mettre un :hover à un input ?*/
{
    height: 35px;
    border-radius: 0 5px 5px 0;
    background-color: #0065FC;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: 2px #0065FC solid;
}

/*FILTRES*/

.i_info
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid gray; 
}

.fas.fa-info
{
    color: #0065FC;
    font-size: small;
}

.info_text
{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}
.info
{
    display: flex;
    align-items: center;
    margin-left: 0;
}

.icone
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #DEEBFF;
    background-color: #DEEBFF;
}

#filtres
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
}
.clic
{
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 30px;
    border: 2px solid #DEEBFF;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 50px 50px 50px 50px;
}

/*HEBERGEMENTS*/

#container1
{   
    margin-left: 20px;
    width: 900px;
    height: auto;
    background-color: cadetblue;
    border-radius: 20px;
    padding : 20px 20px;
}

#container1 img
{
    object-fit: cover;
    width: 250px;
    height: 150px;
    border-radius: 20px 20px 0 0;
}

article
{
    width: 250px;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    border: 5px solid white;
}

aside img

{
    object-fit: cover;
    height: 150px;
    border-radius: 20px 0 0 20px;
}


/*FOOTER*/

li
{
    list-style-type: none;

}

/* Suite info mediaqueries
@media all and (max-device-width: 480px)
{
}*/