@font-face
{
    'Raleway', sans-serif;
}

body
{
    font-family: 'Raleway', sans-serif;
}


#bloc_page
{
    width: auto;
}

/*HEADER*/
header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

#logo
{
    display: flex;
    width: 100px;
    height: auto;
    border: 2px black solid;
    padding-top: 20px;
}

#inscription
{   
    display: flex;
    align-self: center;
    padding-top: 20px;
    margin-left: auto;
    border: 2px blue solid;
    
}

#nav1
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
}

#nav2
{   
    display: flex;
    position: absolute; right: 60px;
}

nav ul
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav li
{
    list-style-type: none;
    border: 2px black solid;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 20px;
    
}


/*HEBERGEMENTS*/
#container img
{
    object-fit: cover;
    height: 150px;
    border-radius: 20px 20px 0 0;
}

aside img

{
    object-fit: cover;
    height: 150px;
    border-radius: 20px 0 0 20px;
}

/* Suite info mediaqueries
@media all and (max-device-width: 480px)
{
}*/