@font-face
{
    'Raleway', sans-serif;
}

body
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}


#bloc_page
{
    width: auto;
}

a
{
    color: black;
    text-decoration-line: none;
}

/*HEADER*/
header
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

#logo
{
    display: flex;
    width: 100px;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
}

#inscription
{   
    display: flex;
    align-self: center;
    padding-top: 20px;
    padding-right: 20px;
    margin-left: auto;
    color: #0065FC;
    font-weight: 1000;
}

#inscription :hover
{
    font-size: 105%;
}

#nav1
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
}

#nav2
{   
    display: flex;
    position: absolute; right: 100px
    
}

nav ul
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav li
{
    list-style-type: none;
    font-weight: bold;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 20px;
    
}

#nav2 li :hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 31px;
}

/*RECHERCHE ET FILTRES*/
#recherche
{
    margin-left: 20px;
}

#recherche>h1
{
    font-weight: 1000;
    font-size: 1.2em;
}

.bouton
{
    display: flex;
}
.map
{
    display: flex;
    border-radius: 5px 0px 0px 5px;
    background-color: #F2F2F2;
    height: 35px;
    width: 30px;
    justify-content: center;
}

#city
{
    height: 30px;
    border: 2px #F2F2F2 solid;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

#search
{
    height: 35px;
    border-radius: 0 5px 5px 0;
    background-color: #0065FC;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: 2px #0065FC solid;
}

/*HEBERGEMENTS*/

#container img
{
    object-fit: cover;
    height: 150px;
    border-radius: 20px 20px 0 0;
}

aside img

{
    object-fit: cover;
    height: 150px;
    border-radius: 20px 0 0 20px;
}


/*FOOTER*/

li
{
    list-style-type: none;
    color: black;
}

/* Suite info mediaqueries
@media all and (max-device-width: 480px)
{
}*/